body{
  background-color: #203a49;
  
}
.mytitle{
  color: #9a9afb;
}
.bordery{
  border:1px solid #9a9afb;
  border-radius: 3%;
}
.mybuttoncollor{
  background-color: #9a9afb;
  border: #9a9afb;
  color: black;
  font-weight: bold;
}
.mybutton{
  background-color:#9a9afb ;
  color: white;
  border-color: #7878c5;
  box-shadow: 1px 1px 3px #9a9afb;
}
.mybutton:hover{
  background-color: white;
  color: #9a9afb;
  border-color: #ffffff;
  box-shadow: 1px 1px 3px #ffffff;

}