
body{
    background: #05161d;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}
.Team{
    background-color: #b1b1b11a;
}
.Companies{
    background-color: #f9f9f9;
}
.Companies1{
    background: linear-gradient(to bottom, #f9f9f9,95%,#05161d );
}
.mybox1{
    background-color: rgba(128, 128, 128, 0.494);
}
.mytitle{
    border: 1px solid #ffffff29;
    border-left: none;
    border-right: none;
    height: 100px;
    color: #efa834;
    font-family: 'Noto Sans', sans-serif;
}
.mytitle2{
    background-color:  #efa834;
    color:white;
    height: 63;
    font-family: 'Noto Sans', sans-serif;
}

.myimgbox{
    width: 200px;
}
.myfooter{
    background-color: rgb(0, 0, 0);
}
.mybutton{
    background-color: rgb(43, 39, 39);
    border: 2px solid rgb(210, 105, 30);
    color:white;
    border-radius: 1.5em;
    box-shadow: 1px 0px 3px #efa834;
    transition-duration: 0.3s;
}
.teambg{
    font-size: xx-small;
}
.teambg a{
    font-size: xx-small;
    color: white;
}
.mybutton:hover{
    background-color: #efa834;
    color:black;
    font-weight: 500;
  
}
.iconcolor{
    color: white;
}
/* // X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap */
.mytext{
    font-size: 45px;
    color: #efa834;
    font-family: 'Noto Sans', sans-serif;
}
.mybg{
    background-color: rgba(0, 0, 0, 0);
}
.corcoal-color{
    color: #efa834;
    font-weight: 400;
}
.checkboxform{
    color: white;
}
#myBTn{
    display: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
    height: 50px;
    width: 50px;
    z-index: 99;
    border: 1px solid white;
    border-radius: 50%;
    cursor: pointer;
    padding: 10px;
    
}
/* popup */
.black_overlay {
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1001;
    -moz-opacity: 0.8;
    opacity: .80;
    filter: alpha(opacity=80);
  }
  .white_content {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 85%;
    height: 80%;
    padding: 10px;
    z-index: 1002;
    overflow: auto;
  }
  input,select{
      border-radius: 10px;
      border: 1px solid black;
  }
  #myform{
    overflow-x: hidden;
  }
  
  #light{
      background-color: violet;
  }
  #light1{
      background: turquoise;
  }
  #myform{
      background: #f9f9f9;
  }
  .mybuttoncollor{
      background-color: #efa834;
      border: #efa834;
      color: black;
      font-weight: bold;
  }
 
  .navPart:hover{
      font-weight:bold;
  }
 
  .mapSize iframe{

    width:100%;
}
/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    .teambg{
        font-size:medium
    }
    .teambg a{
        font-size: medium;
    }
    .mapSize iframe{

        width:400px;
    }
 }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .mapSize iframe{

        width:300px;
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .mytext{
        font-size: 40px;
    }
    .white_content{
        width: 60%;
        height: 60%;
        padding: 20;
    }
    .mapSize iframe{
        width:400px;
    }
 }

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .mytext{
        font-size: 45px;
    }
    .mapSize iframe{
        width:450px;
    }
    
 }

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    .mapSize iframe{
        width:600px;
    }
}


